extends layout

block content
  h1= title
  p Welcome to #{title} Js
  P Nidigonda Sandhya's AddMods page 
  p This is a table with rows and columns
  p With Rows = #{query.rows} and Columns = #{query.cols} we expect
    -
        rows= Number(query.rows)
        cols= Number(query.cols)
    if !Number.isInteger(rows)
        p below mentioned rows are not accurate 
    else if !Number.isInteger(cols)
        p below mentioned columns are not appropriate
    else
       table           
            - for(let i=0; i<rows; i++) {
               tr
                 - for(let j=i; j<cols-1; j++) {
                    td=j
                 -}        
                 -   for(let k=0; k<=i; k++){
                      td=k
                 -}      
            - }